body{
	font-family: Open Sans;
	font-size: 0.9em;
	background: white;
}
section{
	display: flex;
	justify-content: center;
}
section.inicio form{
	display: block;
	width: 35%;
	background: white;
	margin-top: 4vw;
	text-align: center;
}
section.inicio form legend{
	margin: 2vw 2vw 3vw 2vw;
	font-size: 1.8em;
}
section.inicio form label{
	display: block;
}
section.inicio form input{
	border: 1.4px #bfbfbf solid;
	border-radius: 6px;
	padding: 0.5vw 0 0.5vw 0vw;
	width: 60%;
	margin: 0.5vw 0 1.5vw 0;
	font-size: 0.9em;
}
section.inicio form input.enviar{
	background: #1378E9;
	color: white;
	border-bottom: 3px #2058FF solid;
	padding: 1vw 2vw 1vw 2vw;
	margin: 2vw 0 2vw 0;
	font-size: 1em;
	width: 65%;
}